body{
    background:#F2F2F2;
    font-size:medium
}

h1{
    text-align: center;
}

div{
    background-color: #FF5B1B;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    float: left;
    margin: 10px;
}

.div_left{
    margin-left:30px;
}